@import '../../sass/base.scss';
.categoryBar{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;

    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        width: 0;
        background: transparent;
    }
    // &::-webkit-scrollbar-thumb {
    //     background: #FF0000;
    // }

    span{
        margin-right: 1rem;
        padding: 0.5rem 20px;
        white-space: nowrap;
        cursor: pointer;
        white-space: nowrap;
        color: aliceblue;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1.5px solid rgba(255, 255, 255, 0.1);
        border-radius: 999px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
         }
        &.active {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
            border-color: rgba(255, 255, 255, 0.1);
            font-weight: 600;
         }
    }
}