@import '../../sass/base.scss';

.video{
    margin-bottom: 1rem;
   padding: 0.7rem;
   font-weight: 500;
   font-size: 0.9rem;
   cursor: pointer;

   &__top {
    margin-bottom: 0.5rem;
    position: relative;
    img {
       width: 100%;
    }
    span {
        position: absolute;

        bottom: 0.3rem;
        right: 0.3rem;
        font-weight: 600;
        padding: 0.2rem;
        background: #080808ec;
        border-radius: 3px;
     }
}
&__title {
    margin-bottom: 0.1rem;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    word-wrap:break-word;
    white-space: break-spaces;
    max-height: 45px;
    line-clamp: 0;
    overflow: hidden;
 }
 &__details {
    display: flex;
    align-items: center;
 }
 &__channel {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    img {
       width: 36px;
       height: 36px;

       border-radius: 50%;
       margin-right: 0.5rem;
       cursor: pointer;
    }
    p {
       margin-bottom: 0;
    }
 }  
}